@model TPLOCAL1.Models.FormModel

<head>
    <title>Formulaire</title>
    <link rel="stylesheet" href="~/resources/index.css" />
</head>

<body>
    <header>
        <img src="~/resources/GroupeHN.png" class="image" alt="GroupeHN" />
    </header>
    <nav>
        <ul>
            <li><a href="/Home/Index/Form">Remplir le formulaire</a></li>
            <li><a href="/Home/Index/OpinionList">Liste avis</a></li>
        </ul>
    </nav>


    @using (Html.BeginForm("ValidationFormulaire", "Home", FormMethod.Post))
    {
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <section>
        <table>
            <caption>Informations personnelles</caption>
            <tr>
                <th>Nom</th>
                <td>
                    @Html.EditorFor(model => model.Nom)
                    @Html.ValidationMessageFor(model => model.Nom, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>
                    @Html.EditorFor(model => model.Prenom)
                    @Html.ValidationMessageFor(model => model.Prenom, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <th>Genre</th>
                <td>
                    @Html.DropDownListFor(model => model.Genre,
                        new List<SelectListItem>
                        {
                            new SelectListItem { Value = "H", Text = "Homme" },
                            new SelectListItem { Value = "F", Text = "Femme" },
                            new SelectListItem { Value = "A", Text = "Autre" }
                        },
                        "Sélectionner un genre"
                    )
                    @Html.ValidationMessageFor(model => model.Genre, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>
                    @Html.EditorFor(model => model.Adresse)
                    @Html.ValidationMessageFor(model => model.Adresse, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <th>Code Postal</th>
                <td>
                    @Html.EditorFor(model => model.CodePostal)
                    @Html.ValidationMessageFor(model => model.CodePostal, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>
                    @Html.EditorFor(model => model.Ville)
                    @Html.ValidationMessageFor(model => model.Ville, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <th>Adresse email</th>
                <td>
                    @Html.EditorFor(model => model.Email)
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </td>
            </tr>
        </table>

        <table>
            <caption>Informations formation suivie</caption>
            <tr>
                <th>Date de début formation</th>
                <td>
                    @Html.EditorFor(model => model.DateDebut)
                    @Html.ValidationMessageFor(model => model.DateDebut, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <th>Formation suivie</th>
                <td>
                    @Html.EditorFor(model => model.Formation)
                    @Html.ValidationMessageFor(model => model.Formation, "", new { @class = "text-danger" })
                </td>
            </tr>
        </table>

        <table>
            <caption>Avis sur la formation</caption>
            <tr>
                <th>Formation Cobol</th>
                <td>
                    @Html.EditorFor(model => model.Aviscobol)
                    @Html.ValidationMessageFor(model => model.Aviscobol, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <th>Formation C#</th>
                <td>
                    @Html.EditorFor(model => model.Aviscsharp)
                    @Html.ValidationMessageFor(model => model.Aviscsharp, "", new { @class = "text-danger" })
                </td>
            </tr>
        </table>
       
        <input type="submit" value="Valider" />
    </section>

    }

</body>